<div id="page-content">
    <h1 class="text-center mt-4" >Listing all articles </h1>

    <div class="container">
    <% @articles.each do |article|%>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-body-tertiary rounded">
                    <div class="card-header fst-italic">
                        by Esteban Navarro
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
                        <p class="card-text"><%= truncate(article.description, length:100) %></p>
                        <div class="d-flex justify-content-center">
                            <%= link_to 'View', article_path(article), class: "btn btn-outline-success me-2" %>
                            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-info me-2" %>
                            <%= button_to 'Delete', article_path(article), method: :delete, class: "btn btn-outline-danger me-2" %>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <small>Created <%= time_ago_in_words(article.created_at)%> ago, edited <%= time_ago_in_words(article.updated_at)%> </small>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </div> 
</div>